<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} - {% endif %}{% if page.top %}{{ page.top }} - {% endif %}Web Species</title>
    <meta name="description" content="Web Species Ltd provides bespoke software solutions, consulting and training services based on our open-source technologies expertise">
    <meta name="keywords" content="web species, web development, consulting, training, php">
    <meta name="author" content="Web Species Ltd">
    <link rel="shortcut icon" href="favicon.ico">
	<link rel="stylesheet" href="styles/style.css?{{site.time | date: '%Y%m%d%H%M%S'}}" />
	<link rel="alternate" type="application/atom+xml" title="Web Species news (Atom)" href="atom.xml" />
	<link rel="alternate" type="application/rss+xml" title="Web Species news (RSS)" href="rss.xml" />
	<!--[if IE 6]>
		<link rel="stylesheet" href="styles/ie6.css?{{site.time | date: '%Y%m%d%H%M%S'}}" type="text/css" />
	<![endif]-->
    <script src="vendors/modernizr-1.7.min.js?{{site.time | date: '%Y%m%d%H%M%S'}}"></script>
</head>
<body>
	<div id="site">
        <header>
			<div class="header-in">
				<div id="tweet">
					<p class="title">
						<a href="http://twitter.com/webspecies"><strong>@WebSpecies</strong></a> on Twitter:
					</p>
				</div>
				<a href="#" id="toggle-tweet">Latest <strong>Tweets</strong></a>
			</div>
        </header>
		<div id="content">
			<span class="info"><em>use your arrows to navigate</em></span>
			<div class="side-navigation">
				<aside>
					<span class="logo"><a href="" id="slide-top"><img src="images/logo.png" alt="WebSpecies" width="200" height="60"/></a></span>
					<nav>
						<ul class="menu" id="main-menu">
							<li>
								<a href="" title="Web Development, Consulting and Training services in Edinburgh, UK" {% if page.section == 'services' %} class="active"{% endif %}>Services</a>
							</li>
							<li>
								<a href="products.html" title="Products" {% if page.section == 'products' %} class="active"{% endif %}>Products</a>
							</li>
							<li>
								<a href="about.html" title="About" {% if page.section == 'about' %} class="active"{% endif %}>About</a>
							</li>
							<li>
								<a href="training.html" title="Training courses" {% if page.section == 'training' %} class="active"{% endif %}>Training courses</a>
							</li>
							<li>
								<a href="clients.html" title="Clients" {% if page.section == 'clients' %} class="active"{% endif %}>Clients</a>
							</li>
							<li>
								<a href="news.html" title="News" {% if page.section == 'news' %} class="active"{% endif %}>News</a>
							</li>
							<li>
								<a href="contact.html" title="Get in Touch" {% if page.section == 'contact' %} class="active"{% endif %}>Get in Touch</a>
							</li>
						</ul>
					</nav>
					<ul class="menu social-links">
						<li>
							<a href="http://www.facebook.com/pages/Web-Species-Ltd/154707331254718" class="fb">Facebook page</a>
						</li>
						<li>
							<a href="http://twitter.com/webspecies" class="tw">Follow on Twitter</a>
						</li>
						<li>
							<a href="rss.xml" class="rss">Subscribe to RSS</a>
						</li>
					</ul>
				</aside>
			</div>
			<div class="content-slides">
                {{ content }}
            </div><!--//content-slides-->
		</div><!--// content-->
	</div><!--// site-->
	<!--[if lt IE 7 ]>
    <script src="vendors/dd_belatedpng.js?{{site.time | date: '%Y%m%d%H%M%S'}}"></script>
    <script>DD_belatedPNG.fix('img, .png, .social-links a, .dots a, .info, .bubles .item-1, .bubles .item-2, .bubles .item-3, .prev, .next, .customer-buble, .icon, .submit, header, #toggle-tweet, .courses, .news ');</script>
  	<![endif]-->
    <script src="vendors/jquery-1.5.2.min.js?{{site.time | date: '%Y%m%d%H%M%S'}}"></script>
    <script src="vendors/jquery.jcarousel.js?{{site.time | date: '%Y%m%d%H%M%S'}}"></script>
    <script src="vendors/jquery.lightbox_me.js?{{site.time | date: '%Y%m%d%H%M%S'}}"></script>
    <script src="vendors/jquery.scrollTo-1.4.2-min.js?{{site.time | date: '%Y%m%d%H%M%S'}}"></script>
    <script src="vendors/jquery.tweet.js?{{site.time | date: '%Y%m%d%H%M%S'}}"></script>
    <script src="vendors/json2.js?{{site.time | date: '%Y%m%d%H%M%S'}}"></script>
    <script src="vendors/history.js?{{site.time | date: '%Y%m%d%H%M%S'}}"></script>
    <script src="vendors/history.html4.js?{{site.time | date: '%Y%m%d%H%M%S'}}"></script>
    <script src="vendors/history.adapter.jquery.js?{{site.time | date: '%Y%m%d%H%M%S'}}"></script>
	<script src="scripts/scripts.js?{{site.time | date: '%Y%m%d%H%M%S'}}"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-21529043-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</body>
</html>
