@font-face {
    font-family: 'HelveticaNeueLTPro75Bold';
    src: url('helveticaneueltpro-bd-webfont.eot');
    src: url('helveticaneueltpro-bd-webfont.eot?iefix') format('eot'),
         url('helveticaneueltpro-bd-webfont.woff') format('woff'),
         url('helveticaneueltpro-bd-webfont.ttf') format('truetype'),
         url('helveticaneueltpro-bd-webfont.svg#webfontdmPJDHsA') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'HelveticaNeueLTPro45Light';
    src: url('helveticaneueltpro-lt-webfont.eot');
    src: url('helveticaneueltpro-lt-webfont.eot?iefix') format('eot'),
         url('helveticaneueltpro-lt-webfont.woff') format('woff'),
         url('helveticaneueltpro-lt-webfont.ttf') format('truetype'),
         url('helveticaneueltpro-lt-webfont.svg#webfont9BqAU2s5') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*---Default elements---*/
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline;}
a:hover, a:focus {outline: none;}
a img {border: none;}
img {vertical-align: middle;}
.menu {list-style: none; padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: normal; margin: 13px 0;}
h2 strong, h3 strong {color: #000;}
table {border-collapse: collapse; border-spacing: 0;}
td, td img {vertical-align: top;}
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
form {margin: 0;}
.form-row input.text, .form-row label {display: inline-block; float: left;} 
input.submit, button, label {cursor: pointer;}
label.for-checkbox, label.for-radio {width: auto; cursor: pointer}
button, input, select, textarea {margin: 0;}
input.radio, input.checkbox {vertical-align: text-bottom; margin: 0;}
input.text, input.password, textarea {padding: 4px 6px; background: #171717; border: 1px solid #171717;}
input.text, input.password, input.text, textarea, select, button, input.submit {font-family: Arial, Helvetica, sans-serif;}
button {width: auto; overflow: visible;}

/*---Helpers---*/
.fl {float: left;}
.fr {float: right;}
.tar {text-align: right;}
.tac {text-align: center;}
.tal {text-align: left;}

.cols-2 .col {width: 48%;} 
 
/*---Site structure---*/
html {font-family: Arial, Helvetica, sans-serif; color: #575757; font-size: 13px; background: url(../images/bg.gif) fixed no-repeat left top;}
body {margin: 0;}
nav, aside {display: block;} 
 
h1, h2, h3, .icon, label, .shedule, .person, .button, #main-menu a {font-family:'HelveticaNeueLTPro45Light'}
h1 strong, h2 strong, h3 strong {font-family:'HelveticaNeueLTPro75Bold'; white-space: nowrap;}

.anchor {font-size: 0px; height: 0px; line-height: 0px;} 
 
/*Header*/
header {position: absolute; left: 0; top: 0; background: #FEDE00; zoom: 1; z-index: 7; border-bottom: 3px solid #FEDE00; width: 100%;}
.header-in {position: relative;}
header p {margin: 5px 0;}
header .title, header .time {font-size: 12px; color: #908301;}
header strong {font-weight: bold; color: #000;}
header .tweet {font-size: 32px; font-weight: bold; color: #fff; line-height: 32px;}

/*Tweet*/
#tweet {display: none; padding: 20px 97px;}
#tweet a {text-decoration: none; color: #000}
#tweet .time a {color: #908301;}
#tweet ul {margin: 0; padding: 0; list-style: none;}

#toggle-tweet {display: inline-block; background: #fede00 url(../images/tweet-ico.png) no-repeat right 3px; position: absolute; line-height: 22px; font-size: 11px; text-transform: uppercase;color: #000; bottom: -25px; right: 180px; padding: 0 35px 0 12px; text-decoration: none; z-index: 3;}
#toggle-tweet:hover {text-decoration: underline;}

/*Center*/
#content {position: relative;}
#content .info {background: url(../images/arrows.png) no-repeat center top; dispaly: inline-block; position: absolute; right: 20px; top: 20px; width: 78px; padding-top: 46px; text-align: center; color: #999; font-size: 10px; display: none;}
 
.slide-parrent {padding:1px 0; position: relative; z-index: 0;} 
.slide-parrent .anchor {position: absolute; top: 0px; right: 50%;}
.slide {/*padding-left: 252px;*/padding: 10px 0;}
.slide-inner {width: 770px; margin: 0px auto; } 
.training, .news, .newsitem {background: url(../images/grey-dot-transp.png);} 
 
/*Side content*/ 
.side-navigation {position: fixed; left: 0px; top: 0; padding-top: 57px; zoom: 1; z-index: 5;}
.logo {display: inline-block; margin-bottom: 95px; padding-left: 20px; position: fixed; left: 0; top: 50px;}
#main-menu a {display: inline-block; line-height: 31px; padding: 0 18px 0 20px; background: #fede00; color: #000; font-size: 22px; text-decoration: none;}
#main-menu a.active {background: #000; color: #fff;}

/*Social links*/ 
.social-links {padding: 0 0 0 20px; position: fixed; left: 0px; bottom: 20px;}
.social-links li {padding-bottom: 12px;}
.social-links a {display: inline-block; line-height: 25px; padding-left: 37px; background: url(../images/social-ico.png) no-repeat left top; font-size: 11px; font-style: italic; color: #575757;text-decoration: none;}
.social-links a:hover {text-decoration: underline; background-image: url(../images/social-ico-hover.png);}
.social-links .fb {}
.social-links .tw {background-position: left -25px;}
.social-links .rss {background-position: left -50px;}
 
/*Services*/ 
.services .bubles {position: relative; height: 412px;}
.bubles h2 {margin: 0; font-weight: normal; color: #fff; font-size: 26px;}
.item-2 h2 {font-weight: 700; color: #000; margin-bottom: 10px;}
.services .bubles p {font-size: 13px; line-height: 16px; color: #777; margin: 5px 0;}
.services .item-2 p {color: #4c4200;}
.bubles .item-1, .bubles .item-2, .bubles .item-3 {position: absolute; text-align: center;}
.bubles .item-1 {background: url(../images/dev-buble.png) no-repeat left top; padding: 72px 15px 25px 15px; width: 203px; height: 140px; top: 99px; left: 23px;} 
.bubles .item-2 {background: url(../images/training-buble.png) no-repeat left top; width: 233px; height: 100px; top: 22px; left: 291px; padding: 60px 15px 92px 15px;} 
.bubles .item-3 {background: url(../images/consulting-buble.png) no-repeat left top; width: 209px; height: 221px; right: -10px; bottom: -30px; height: 140px; padding: 72px 15px 25px 15px;} 
 
.item-2 .item-in {position: relative; zoom: 1;}
.bubles .item-2 .shedule, .bubles a {color: #fff;} 
.bubles .item-2 .shedule {display: inline-block; text-transform: uppercase; font-size: 11px; background: #000; line-height: 25px; padding: 0 8px; position: absolute; left: 45px; bottom: -48px; text-decoration: none; white-space: nowrap; font-weight: bold; font-family: Arial, Helvetica, sans-serif;}
.bubles .item-2 .shedule:hover, .bubles a:hover {color: #FEDE00;}
 
.services .label {display: inline-block; text-transform: uppercase; color: #a3a1a1; font-size: 10px; padding-left: 100px;} 
.services h1 {margin: 0; font-size: 38px; color: #000; margin-top: 8px; line-height: 38px; letter-spacing: -1.5px;}
.services p {font-size: 14px; line-height: 18px;}
.services p strong {color: #000;}
 
.slider {position: relative; z-index: 4;}
.slider .slider-inner {width: 10000px;}
.slider .slider-wrapper {overflow: hidden; margin: 0 100px;}
.slider .slider-slide {float: left;}
.slider .control {position: absolute; display: inline-block; width: 53px; height: 104px; margin-top: -52px; top: 50%; zoom: 1;}
.slider .prev {background: url(../images/prev.png) no-repeat left top; left: 0;}
.slider .next {background: url(../images/next.png) no-repeat left top; right: 0;}
.slider .dots {position: absolute; bottom: -15px; left: 100px;}
.slider .dots a {display: inline-block; background: url(../images/dot.png) no-repeat left top; width: 11px; height: 11px; margin-right: 8px;} 
.slider .dots .active {background: url(../images/dot-active.png) no-repeat left top;} 
.slider .inactive {background-position: left -104px; cursor: default; zoom: 1;} 
 
/*Services slider*/
#services-slider .slider-slide {width: 570px; height: 200px;}
#services-slider .slider-wrapper {width: 570px;}
#services-slider slider-inner {height: 200px;}
#services-slider .jcarousel-clip {width: 570px; height: 200px;}
 
/*About*/ 
.about .slide-inner {padding: 10px 0;}
.about .lefter {padding-left: 45px; width: 480px;}
.about .righter {width: 225px; position: relative; zoom: 1;}
.about .person {display: inline-block; position: absolute; text-transform: uppercase; font-size: 11px; top: 264px; right: -4px;}
.about .person span {font-size: 19px; color: #000;} 
.about .righter a {display: inline-block; position: absolute; width: 38px; height: 38px; left: 175px; top: 124px;} 
.about img {margin-right: 3px; margin-top: 44px;}
.about h2 {font-size: 22px;}
.about h2 strong {white-space:normal;}
.about h3 {font-size: 13px; font-weight: bold; color: #000; margin: 13px 0 8px 0;} 
.about p {font-size: 13px; line-height: 18px; margin: 8px 0;}
 
/*Courses*/ 
.training h2, .training h3 {margin: 0;}
.training h2 {font-size: 24px;}
.training h3 {font-size: 26px; padding-left: 2px; color: #4C4200;}
.training .slide-inner {padding: 36px 0;}
.training .lefter {width: 275px; padding-left: 45px;}
.training .righter {width: 432px;} 
.training p {line-height: 18px; margin: 6px 0;}
.training .righter p {margin: 5px 0;}

.popup {display:none; position: absolute; padding: 35px ;background-color: white;}
.popup .slide-inner {width: 600px;}
.popup .close {background: url(../images/close.png) no-repeat left top; cursor: pointer; height: 93px; width: 96px; overflow: hidden; position: absolute; right: -31px; top: -34px;}
.popup h1 {font-size: 38px; color: black; line-height: 38px; letter-spacing: -1.5px;}
.popup a {color: #000;}
    
#courses-list {padding-top: 8px; padding-left: 6px;}
#courses-list a {color: #000; display: inline-block; padding-left: 24px; background: url(../images/dot-black.png) no-repeat 2px 6px; line-height: 24px; font-weight: bold; text-decoration: none;}
#courses-list a:hover {text-decoration: underline;}
#courses-list .active {background: url(../images/dot-grey.png) no-repeat 2px 6px; color: #555454;}
#courses-slider .black, #courses-slider .slider-slide .black {color: #000; font-weight: bold;}
#courses-slider table {width: 100%;}
#courses-slider td {padding: 1px 5px 1px 0;}
#courses-slider {background: #fede00;}
#courses-slider em a {color: #000;}
#courses-slider em a:hover {text-decoration: none;}
#courses-slider .slider-slide {width: 360px; padding: 15px 0 15px 0; height: 250px;}
#courses-slider .jcarousel-clip {width: 360px; height: 280px;}
#courses-slider .slider-slide p {font-size: 13px; color: #4C4200;}
#courses-slider .slider-wrapper {width: 360px; margin: 0 36px;}
#courses-slider .control {width: 42px; height: 42px; margin-top: -21px;}
#courses-slider .prev {background: url(../images/prev2.png) no-repeat left top; left: -21px;}
#courses-slider .next {background: url(../images/next2.png) no-repeat right top; right: -21px;}
#courses-slider .inactive {background-position: left -41px;}
#courses-slider p {margin: 0 0 5px 0;}
 
.button {font-weight: bold; text-transform: uppercase; color: #fff; background: #000; padding: 0 10px; display: inline-block; line-height: 25px; margin-right: 13px; text-decoration: none; font-size: 11px; margin-top: 8px; font-family: Arial, Helvetica, sans-serif;} 
.button-2 {color: #000; background: #fff;}

.button:hover {color: #FEDE00;} 
.button-2:hover {color: #666;}
 
/*Customers*/ 
.clients .slide-inner {padding: 0;}
.clients .lefter {padding-left: 30px; width: 380px;}
.clients .righter {width: 310px;} 
.clients .righter em {font-size: 11px;}
.clients .righter strong {color: #000;}
 
.customer-buble {background: url(../images/testimonials-buble.png) no-repeat left top; width: 276px; height: 245px; padding: 57px 55px 45px 55px; text-align: center;} 
.customer-buble h2 {color: #fff; font-size: 26px;} 
.customer-buble h2 strong {color: #fff;}
.customer-buble p {color: #878686}
.customer-buble .quoted {text-align: left; position: relative; zoom: 1;}
.customer-buble .tac {margin-top: 30px;}
.customer-buble .quote {display: inline-block; position: absolute; width: 17px; height: 17px;}
.customer-buble .q-top {background: url(../images/q-top.gif) no-repeat left top; top: -4px; left: -30px;}
.customer-buble .q-bottom {background: url(../images/q-bottom.gif) no-repeat left bottom; right: -20px; bottom: -4px;}
 
/*News*/ 
.news {}
.news .slide-inner {padding: 62px 0;}
.news a {text-decoration: none;}

/*News slider*/ 
#news-slider .slider-slide, #news-slider .jcarousel-clip {width: 610px; height: 120px;}
#news-slider .slider-wrapper {width: 610px; margin: 0 80px;} 
#news-slider .col {width: 190px; float: left; padding-right: 20px;}
#news-slider .col-last {padding-right: 0;}
#news-slider strong {color: #000; display: inline-block; padding-bottom: 4px;}
#news-slider .date {font-size: 11px; color: #8f8f8f;} 

/*News item*/
.newsitem strong {font-weight: normal; font-size: 26px;}
.newsitem a {text-decoration: none;}
 
/*Contacts*/ 
.contact {color: #575656; background: url(../images/black-dot-transp.png); margin-bottom: 0 !important;}
.contact .slide-inner {padding: 30px 0;}
.contact .icon {display: inline-block; line-height: 25px; font-size: 15px; color: #fff; text-decoration: none; background: url(../images/contacts-ico.png) no-repeat left top; padding-left: 40px; margin-bottom: 11px;}
.contact .icon a {text-decoration: none; color: #fff;}
.contact .icon a:hover {color: #FEDE00;}
.contact .type-mail {background-position: left -25px;}
.contact .type-phone {background-position: left -50px;}
.contact .lefter {width: 248px;} 
.contact .righter {width: 520px;} 
.contact .lefter p {margin-top: 0;} 
  
.form-row {position: relative; padding-bottom: 13px;} 
label {color: #fff; text-transform: uppercase; font-size: 11px; font-family: Arial, Helvetica, sans-serif; padding-bottom: 8px;}
label span {color: #fede00;} 
 
input.submit {background: url(../images/submit-bg.png) no-repeat left top; width: 64px; height: 60px; position: absolute; bottom: -15px; right: -30px; border: none; text-transform: uppercase; color: #010101; font-size: 14px; font-weight: bold;}
input.text, textarea {color: #fff; font-size: 13px;} 
input.text:focus, input.text:active, textarea:focus, textarea:active, input.focus, textarea.focus {background: #fff; color: #333;}
input.text {width: 236px;}
textarea {width: 506px;} 
.explain {font-style: italic; font-size: 11px;}
.explain span {color: #fede00;}
 
/*Error 404*/
.error404, .error404 a {color: black;}
.error404 a {text-decoration: none; font-weight: bold;}
.error404 .lefter {display: table;}
.error404 .lefter > h2 {font-size: 200px; font-weight: bold; letter-spacing: 5px; display: table-cell;}
.error404 .lefter > strong {font-size: 65px; font-weight: bold; vertical-align: middle; height: 200px; display: table-cell; padding-left: 30px;}
.error404 .righter {text-align: center;}
.error404 .righter p {font-size: 14px;}
 
.form-item {width: 250px; float: left;} 
.form-item-first {padding-right: 20px;} 


/*Menu efects*/
.side-navigation nav ul {
    display: inline;
    font-size: 17px;
    line-height: 17px;
}
.side-navigation nav ul li {
    *margin-left: -16px;
    height: 31px;
}
.side-navigation nav ul li a {
    color: #000;
    background: #fff;
    padding: 3px 2px 1px 2px;
    position: relative;
    overflow: hidden;  
    text-decoration: none;    
}
body.isSafari .side-navigation nav ul li a {
    display: inline-block;
    padding: 2px;
}
.side-navigation nav ul li a span {
    position: absolute;
    left: 0;
    top: 0px;
    display: block;
    color: #fff;
    background: #000;
    padding: 0 18px 0 20px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}
body.isSafari .side-navigation nav ul li a span {
    padding: 2px;
    top: 0;
}
.side-navigation nav ul li.current a {
    background: #000;
	color: #fff;
}
.side-navigation nav ul li.current span {
    display: none !important;
}


/*---Clearfix---*/
.clearfix:before, .clearfix:after, .form-row:before, .form-row:after {content: "\0020"; display: block; height: 0; visibility: hidden;} 
.clearfix:after, .form-row:after {clear: both;}
.clearfix, .form-row {zoom: 1;}
